header {
    position: sticky;
    top: 0;
}

.navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: #1985A1;
    width: 100%;
    height: 4.6875rem;
}

.navigation__bar-right {
    display: flex;
}

.navigation__bar-right a {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    color: #C5C3C6;
    text-decoration: none;
}

a:hover {
    color: #A7816C;
}

p {
    color: #46494C;
}

h1 {
    color: #2E3A44;
}

body {
    background-color: #DCDCDD;
}

.cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cart__title {
    text-align: center;
}

.cart__items {
    text-align: center;
    margin-top: 2rem;
}

.cart__item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cart__checkout {
    margin-top: 5rem;
    height: 2rem;
}

button {
    color: #C5C3C6;
    background-color: #1985A1;
    font-size: 1.2rem;
    height: 40%;
    margin-top: 0.5rem;
    padding: 0 0.9rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

button:hover {
    color: #D59C7D;
    background-color: #11586A;
    cursor: pointer;
}

button:active {
    color: #A7816C;
    background-color: #246A11;
}

.cart__checkout-image {
    width: 17rem;
    height: 16rem;
    margin-top: 5rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

.shipping {
    margin: 1rem 5rem;
}

.shipping__title {
    margin-top: 20rem;
}

.shipping__info {
    margin-top: 2rem;
}

label {
    color: #46494C;
    margin-top: 3rem;
    display: block;
}

#scroll-top {
    position: relative;
    top: -20rem;
}
