header {
    position: sticky;
    top: 0;
}

.navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: #1985A1;
    width: 100%;
    height: 4.6875rem;
}

.navigation__bar-right {
    display: flex;
}

.navigation__bar-right a {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    color: #C5C3C6;
    text-decoration: none;
}

a:hover {
    color: #A7816C;
}

span {
    color: #46494C;
    display: block;
}

h2 {
    color: #2E3A44;
    font-size: 2.2rem;
}

body {
    background-color: #DCDCDD;
}

.store-sony,
.store-xbox,
.store-nint {
    padding: 1rem;
}

.store-sony__title,
.store-xbox__title,
.store-nint__title {
    padding-bottom: 2.2rem;
    text-align: center;
}

.store-sony__items,
.store-xbox__items,
.store-nint__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.store-sony__item-image,
.store-xbox__item-image,
.store-nint__item-image {
    width: 15rem;
    height: 15rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

.store__banner {
    width: 15rem;
    height: 15rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

.store__banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.store-sony__item-info,
.store-xbox__item-info,
.store-nint__item-info {
    text-align: center;
    margin: 0.5rem 0;
}

.store-sony__item-name,
.store-xbox__item-name,
.store-nint__item-name {
    margin-bottom: 0.5rem;
}

button {
    color: #C5C3C6;
    background-color: #1985A1;
    font-size: 1.2rem;
    height: 40%;
    margin-top: 0.5rem;
    padding: 0 0.9rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

button:hover {
    color: #D59C7D;
    background-color: #11586A;
}

button:active {
    color: #A7816C;
    background-color: #246A11;
}

#scroll-top {
    position: relative;
    top: -20rem;
}
