* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../media/black_and_white_galaxy_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    width: 100%;
}

.hero__title {
    font-size: 4rem;
    color: #C5C3C6;
    text-align: center;
}

.hero__scroll {
    color: #C5C3C6;
    background-color: #1985A1;
    font-size: 1.5rem;
    height: 40%;
    margin-top: 5rem;
    padding: 0 0.9rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

.hero__scroll:hover {
    color: #D59C7D;
    background-color: #11586A;
}

.hero__scroll:active {
    color: #A7816C;
    background-color: #246A11;
}

header {
    position: sticky;
    top: 0;
}

.navigation a {
    color: #C5C3C6;
}

.navigation a:hover {
    color: #A7816C;
}

.navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: #1985A1;
    width: 100%;
    height: 8vh;
}

.navigation__bar-right {
    display: flex;
}

.navigation__bar-right a {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
}

p {
    color: #46494C;
}

h1 {
    color: #2E3A44;
}

body {
    background-color: #DCDCDD;
}

#scroll-bottom {
    /* margin-top: 9.375rem; */
    margin-top: 100rem;
    text-align: center;
}

#scroll-bottom a {
    color: #343638;
}

#scroll-bottom a:hover {
    color: #D59C7D
}

#github a:visited {
    color: green;
}
