* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Lora", Arial, serif, sans-serif;
    scroll-behavior: smooth;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../media/black_and_white_galaxy_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    width: 100%;
}

.hero__title {
    font-size: 4rem;
    color: #C5C3C6;
    text-align: center;
}

.hero__scroll {
    color: #C5C3C6;
    background-color: #1985A1;
    font-size: 1.5rem;
    height: 40%;
    margin-top: 5rem;
    padding: 0 0.9rem;
    border: 1px solid #46494C;
    border-radius: 0.625rem;
}

.hero__scroll:hover {
    color: #D59C7D;
    background-color: #11586A;
}

.hero__scroll:active {
    color: #A7816C;
    background-color: #246A11;
}

#scroll-bottom {
    position: relative;
    top: 0rem;
}

header {
    position: sticky;
    top: 0;
}

.navigation a {
    color: #C5C3C6;
}

.navigation a:hover {
    color: #A7816C;
}

.navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: #1985A1;
    width: 100%;
    height: 8vh;
}

.navigation__bar-right {
    display: flex;
}

.navigation__bar-right a {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
}

p {
    color: #46494C;
    font-size: .9375rem;
}

h1, h2 {
    color: #2E3A44;
}

h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

body {
    background-color: #DCDCDD;
}

.browse {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
}

.browse__image {
    width: 30rem;
    height: 30rem;
    margin: 2rem 0rem;
    align-self: center;
}

#disclaimer {
    margin-top: 1.5rem;
}

h2:nth-of-type(2) {
    margin-top: 10rem;
}

footer {
    margin-top: 15rem;
    position: relative;
    bottom: 0;
    padding: 0;
    text-align: center;
    height: fit-content;
    background-color: #094765;
}

footer p {
    padding-top: 0.2rem;
    color: #A29FA3;
}

footer a:link, #disclaimer a:link {
    color: #C5C3C6;
}

footer a:visited, #disclaimer a:visited {
    color: #DB4A16;
}

footer a:hover, #disclaimer a:hover {
    color: #D59C7D;
}
